.entries-per-page {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.entries-per-page select {
  background: #ececec;
  border: none;
  font-size: 1rem;
  width: 5rem;
  height: 100%;
  padding: 3rem;
}
