.nav-number {
  align-items: center;
  border-right: 1px solid black;
  display: flex;
  height: 3rem;
  justify-content: center;
  width: 3rem;
}

.nav-number:last-child {
  border-right: none;
}

.nav-number:hover {
  cursor: pointer;
}
