.nav-number {
  align-items: center;
  background: #fafffd;
  border-right: 1px solid #00D59A;
  display: flex;
  font-size: 0.8rem;
  height: 2.5rem;
  justify-content: center;
  width: 2.5rem;
}

.nav-number:last-child {
  border-right: none;
}

.nav-number:hover {
  background-color: rgba(110, 254, 214, 0.5);
  cursor: pointer;
}

.nav-number.current {
  background-color: rgba(110, 254, 214, 1);
  font-weight: bold;
  border-radius: 2px;
}
